<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cs21120.assignment2.LineSnapper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dijkstras Algorithm Project"/>
</launchConfiguration>
